# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.production

# Database
*.db
*.db-journal
src/prisma/migrations/
src/prisma/generated

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/
